@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ProjectManagement.DataAccess.Model.User

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>@Model.Name</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="@Model.ProfilePicturePath" alt="Profile Picture" class="img-thumbnail rounded-circle" />
                        </div>
                        <div class="col-md-7">
                            <h5 class="card-title">@Model.Email</h5>
                            @if (!string.IsNullOrEmpty(Model.Address))
                            {
                                <p class="card-text">@Model.Address</p>
                            }
                            @if (!string.IsNullOrEmpty(Model.Description))
                            {
                                <p class="card-text">@Model.Description</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
